
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #0056b3;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


#introduccion, #categorias, #multimedia {
    padding: 20px;
    text-align: center;
}


table {
    width: 80%;
    margin: 0 auto;

}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
}


#categorias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}


audio, iframe {
    margin-top: 10px;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 100%;
    }
}
